# Local development env variables
DATABASE_URL=sqlite:///./autocomplete.db
ASYNC_DATABASE_URL=sqlite+aiosqlite:///./autocomplete.db
# Path to the .pbf for local OSM import
BUILD_PBF_PATH=./germany-latest.osm.pbf
